<header>
	<ul>
		<li class="logo"><a href="/">Prime</a></li>
		<li class="search">
			<form action="/search" method="GET">
				<input type="text" name="q" placeholder="Search" /><input type="submit" value="Search" />
			</form>
		</li>

		{{#unless isLoginPage}}
			{{#if isUserLoggedIn}}
				<li class="login"><a href="/performLogout?returnTo={{url}}">Logout</a></li>
			{{^}}
				<li class="login"><a href="/login?returnTo={{url}}">Login</a></li>
			{{/if}}
		<li class="cart"><a href="/cart">Cart: {{cartCount}} items, ({{cartTotal}})</a></li>
		{{/unless}}
	</ul>
	<script type="text/javascript">
		//fix form height
		var hei = Math.max(
			$("form input[type='text']").outerHeight(),
			$("form input[type='submit']").outerHeight()
		);
		$("form input[type='text']").outerHeight(hei);
		$("form input[type='submit']").outerHeight(hei);

		//fix li height
		var hei = 0;
		$("header ul li").each( function(index, element) {
			hei = Math.max( hei , $(element).outerHeight() );
		} );

		$("header ul li").each( function(index, element) {
			$(element).outerHeight( hei );
		} );

		{{#if isSearchPage}}
		//set search box
		$("input[type='text']").val( {{searchString}} );
		{{/if}}
	</script>
</header>
