<div class="main-content-wrapper">
	<h1>Search Results</h1>

	{{#each item}}
	<div class="container container-1">
		<span class="panel panel-1 item">
			<h1 class="item-name">{{name}}</h1>
			<div class="price">
				<span class="sale-price">{{cost}}</span>
			</div>
			{{#if isUserLoggedIn}}
				<form>
						<input type="button" class="addToCartButton" data-item-id="{{id}}" value="Add to cart" />
						<script type="text/javascript">
							$("input.addToCartButton").each( function(index, button) {
								$(button).click( function() {
									var itemId = $(button).attr("data-item-id");
									Primes.CartTracker.addToCart( itemId, 1 );
								} );
							} );
						</script>
					</form>
			{{/if}}
			<span>
				<img class="item-pic" style="float: left; padding-right: 5px" src="/itemImage/{{id}}" width="50" height="50" />
				<span class="item-desc">
					{{desc}}
				</span>
			</span>
		</span>
	</div>
	{{/each}}
</div>
